/*  your css code here. If applicable */
#container{
	margin:20px;
	font-size:18px;
}
#container::before{
 content:'Before Element';
 font-size:20px;
 color:#f00;
}
#container::after{
content:'After Element';
color:#f00;
font-size:20px;
}